body {
  font-family: "Roboto", sans-serif;
}

.calculator {
  height: 100vh;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  width: 100%;
  padding: 0.5rem;
  padding-bottom: 0;
  color: white;
  font-size: 2.5rem;
  text-align: end;
}
.container {
  width: 16rem;
  height: 23rem;
  background: black;
  padding: 0.2rem 0.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  border: none;
  margin: 0.35rem;
  font-size: 2rem;
}
